:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 240px auto;
}

button {
  margin-left: 20px;
}

mat-card-footer {
  margin: 5px 10px;
}

mat-card-content {
  max-height: 400px;
  overflow: auto;
}
