<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of wishList$ | async">{{
        item.wish
      }}</mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer>
    <mat-divider></mat-divider>
    <form (ngSubmit)="sendWish(myWish.value)">
      <mat-form-field>
        <input #myWish matInput placeholder="My wish" />
      </mat-form-field>
      <button
        type="submit"
        [disabled]="!myWish.value"
        color="warn"
        mat-raised-button
      >
        Send wish
      </button>
    </form>
  </mat-card-footer>
</mat-card>



